:root{
    --soft-blue : #B1AFFF;
    --soft-cream: #FFE9D0;
    --soft-orange: #EF9C66;
    --soft-red: #B06161;
    --soft-light-red: #DC8686;
    --soft-light-green:#DEAC80;
    --soft-light-blue : #BBE9FF;
    --soft-light-cream : #FFFED3;
}

html,body {
    background-color: var(--soft-cream);
    padding-bottom: 20px;
}

h1{
    font-family: "Quicksand", sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: 400;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--soft-light-cream);
    margin: auto;
    padding: 10px;
    width: 1040px;
    height: 1040px;
}

.card-number-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--soft-blue);
    box-sizing: border-box;
    margin: 5px;
    border-radius: 15px;
    width: 332px;
    height: 332px;
}

.card-number{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    width: 80px;
    height: 100px;
}

.card-number.blue{
    background-color: var(--soft-light-blue);
}

.card-number.orange{
    background-color: var(--soft-orange);
}

.card-number.red{
    background-color: var(--soft-red);
}

.card-numer.finished{
    opacity: 0;
    transition: opacity 800ms ease;
}

.card-number-container.over {
    border: 3px dotted #666;
}

.number{
    font-size: 50px;
}

.hidden {
    display: none;
}
  
/* Click animation on card-number */
.card-number{
    cursor: pointer;
    transition: all 0.2s ease;
}

.card-number:active {
  transform: scale(0.96);
}

.card-number:before,
.card-number:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}
.card-number.animate::before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  animation: greentopBubbles ease-in-out 0.6s forwards infinite;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}


.card-number.animate::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/* Wrong animation on card number */
.shake {
    animation: shake 0.5s; /* Adjust duration as needed */
    animation-iteration-count: 1; /* Shake once */
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
/* Template Button */

.button-19 {
    
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    color: #FFFFFF;
    cursor: pointer;
    margin: auto;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 13px 16px;
    text-align: center;
    width: 200px;
}

.startButton {
    
    background-color: var(--soft-orange);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    color: #FFFFFF;
    cursor: pointer;
    margin: auto;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 13px 16px;
    text-align: center;
    width: 200px;
}

.stopButton {
    
    background-color: var(--soft-red);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    color: #FFFFFF;
    cursor: pointer;
    margin: auto;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 13px 16px;
    text-align: center;
    width: 200px;
}

.button-container{
    display: flex;
    width: 1040px;
    margin : auto;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

@media screen and (max-width: 2080px) {
    .card-container{
        width: 750px;
        height: 750px;
    }

    .card-number-container{
        width: 230px;
        height: 230px;
    }

    .card-number{
        width: 45px;
        height: 65px;
    }

    .number{
        font-size: 30px;
    }

    .button-container{
        width: 750px;
        margin-top: 15px;
    }
}